// MODULES
@import "modules/_mixins";
// @import "modules/_layout";

/* LAYOUT
----------------------------------------------- */
$grid-width: 1100;

.outer {
	// position: relative;
}

.container {
	margin: 0 auto;
	max-width: ($grid-width/16) * 1em;

	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

.third {
	width: 33.33%;
}

.two-thirds {
	width: 66.67%;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* FONTS
----------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

%primary-sans {
    font-family: 'Roboto', helvetica, arial, sans-serif;
}

%primary-mono {
	font-family: 'Inconsolata', consolas, monaco, monospace;
}

%antialias {
	-webkit-font-smoothing: antialiased;
}

/* COLORS
----------------------------------------------- */
$bg-color: #020722;
$bg-color-dark: #01051c;
$bg-color-light: #061129;
$accent-color: #09C4E6;


/* TYPOGRAPHY
----------------------------------------------- */
body {
	background: $bg-color;
	@extend %primary-sans;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}



/* INTRO
----------------------------------------------- */
.intro {
	// background: $bg-color url('/images/hero.jpg') no-repeat center;
	// background: $bg-color;
	background-size: cover;
	display: block;
	height: 95vh;
	position: relative;

	.inner {
		left: 0;
		position: absolute;		
		top: 15%;
		max-width: 43%;
	}

	
	h1 {
		color: #fff;
		font-weight: 100;
		letter-spacing: -.14rem;
		position: relative;
		@include type-size(100, 1.1, true);

		// &:after {
		// 	content: '‘15';
		// 	color: rgba(255,255,255,.1);
		// 	font-weight: 700;
		// 	left: 40%;
		// 	letter-spacing: -1rem;
		// 	position: absolute;
		// 	top: -60%;
		// 	@include type-size(250);

		// }
	}

	p {
		color: rgba(255,255,255,.45);
		font-weight: 300;
		letter-spacing: to-rem(0.5);
		margin-left: 20%;
		width: 100%;

		@include type-size(16, 1.525, true);

	}
}

.intro__chart {
	// background: rgba(255, 255, 255, .2);
	// height: 600px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	// width: 100%;

	.step, .line {
		fill: transparent;
		// stroke: #484b5f;
		// stroke: rgb(117, 69, 230);
		stroke: #fff;
		// stroke-width: 1.5px;
		// stroke: #fff;
		opacity: .1;
		// stroke-linecap: round;
		// stroke-dasharray: 1;
		stroke-width: 1;
		// shape-rendering: crispEdges;

	}

	.line {
		opacity: .07;
	}

	.circle {
		// fill: $bg-color;
		fill: #09C4E6;
		// stroke: rgba(9, 196, 230, .3);
		// r: 4;
		// stroke-width: 6;
		// opacity: 0;
	}

	.path {
		// stroke: rgba(255, 255, 255, .2);
		fill: rgba(117, 69, 230, .09);
	}
}

/* META
----------------------------------------------- */
// .meta {
//     // background: $bg-color-light;
//     display: inline-block;
//     // position: absolute;
//     width: 100%;
//     // height: 10vh;
//     // left: 0;
//     // bottom: 0%;

//     padding: to-rem(30) 0;

//     ul {
//     	display: inline-block;
// 	    width: 100%;
//     }

//     li {
//     	color: #fff;
//     	float: left;
//     	font-weight: 700;
//     	letter-spacing: -.15rem;
//     	text-align: center;
//     	width: 33.33%;

// 		@include type-size(70);
// 		@extend %primary-mono;

// 		&:last-child {
// 			// width: 100%;
// 		}
//     }

//     span {
//     	display: block;
//     	clear: both;
//     	font-weight: 400;
//     	letter-spacing: .12rem;
//     	text-transform: uppercase;
// 		@include type-size(13);		
//     }
// }


.runs-circle {
	// fill: rgba(117, 69, 230, .8);
	stroke: rgba(0, 0, 0, .3);
	stroke-width: 1;
}

.runs-label {
	font-family: %primary-sans;
	font-weight: 100;
	letter-spacing: to-rem(2.5);
	opacity: .76;
	text-transform: uppercase;
	@include type-size(9);
}

.miles-line {
	// stroke: url("#gradient");
	// fill: url("#the-gradient");
	stroke-linecap: round;
	stroke-width: 8px;
	rx: 2.5;
	ry: 2.5;
}

/* STATS
----------------------------------------------- */


/* RUN
----------------------------------------------- */
.stats, .stats_with-graph {
	padding: to-rem(120) 0;
	position: relative;

	.value p {
		color: #fff;
		display: inline-block;
		font-weight: 100;
		letter-spacing: to-rem(.75);
		margin: 0;
		@include type-size(154);

		span {
			display: block;
			font-weight: 500;
			letter-spacing: to-rem(2.5);
			text-transform: uppercase;
			opacity: .4;
			text-align: center;
			@include type-size(18);
		}
	}
}

.stats_with-graph {
	.container {
		position: relative;
	}
	.value {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);		
		
		&.left {
			left: 0;
		}

		&.right {
			right: 0;
			text-align: right;
		}
	}

}

.run {
	background: $bg-color-dark;	
}

/* FEED
----------------------------------------------- */
.feed-item {
	float: left;
	width: 100%;
	transition: all .23s ease-in-out;

	&:hover {
		background: $bg-color;
		color: $accent-color;
		transform: scale(1.05);

		&:after {
			content: '';
			background: red;
			position: absolute;
			left: 0;
			height: auto;
			width: 100;
		}

		li {
			border-color: transparent;

		}
	}

	li {
		border-bottom: 1px solid #eee;
		float: left;
		letter-spacing: -.025rem;
		padding: 1.5rem 0;
		text-align: center;
		width: 25%;

		@include type-size(18);
		@extend %primary-mono;

	}
}

/* ABOUT
----------------------------------------------- */
.about {
	background: #fff;
}