// MODULES
@import "modules/_mixins";
@import "modules/_colors";
@import "modules/_layout";


/* FONTS
----------------------------------------------- */
%primary-sans {
    font-family: 'Roboto', helvetica, arial, sans-serif;
}

%antialias {
	-webkit-font-smoothing: antialiased;
}

/* TYPOGRAPHY
----------------------------------------------- */
body {
	background: $bg-color;
	@extend %primary-sans;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: all 0.25s ease-in-out;
}

/* INTRO
----------------------------------------------- */
.intro {
	// background: linear-gradient(to bottom, #0C011C 0%,#0c0329 100%);
}

.intro .container {
	// background: $bg-color url('/images/hero.jpg') no-repeat center;
	background-size: cover;
	display: block;
	height: 100vh;
	position: relative;

	.inner {
		left: 0;
		position: absolute;
		top: 40%;
		transform: translateY(-40%);
		max-width: 80%;
		z-index: 1;

		@include breakpoint(phone-mid, min) {
			max-width: 45%;
		}
	}

	h1 {
		color: rgba(#ffffff, 1);
		font-weight: 100;
		letter-spacing: -.16rem;
		margin: 0 0 to-rem(50) 0;
		position: relative;
		@include type-size(60, 1.1, true);

		@include breakpoint(phone-mid, min) {
			letter-spacing: -.16rem;
			@include type-size(100, 1.1, true);
		}

		span {
			font-weight: 700;
			letter-spacing: -.03em;

			// color: desaturate($accent-contrast-b, 20%);
		// 	color: rgba(#ffffff, 1);
		// 	font-weight: 700;
		// 	letter-spacing: -.13em;
		// 	padding-left: to-rem(35);
		// 	position: absolute;
		// 	bottom: -7.5px; // Half of the diff between h1 and span typesizes

		// 	@include type-size(110, 1.1, true);

		// 	&:before {
		// 		content: '‘';
		// 		display: inline-block;
		// 		position: absolute;
		// 		left: to-rem(14);
		// 	}
		}
	}

	p {
		color: rgba(255,255,255,.45);
		font-weight: 100;
		letter-spacing: .065em;
		margin-left: 20%;
		width: 90%;

		@include type-size(18, 1.35, true);

	}
}

.intro__chart {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	.line {
		fill: transparent;
		stroke: $accent-color;
		stroke-width: 1.5;
	}

	.circle {
		fill: $accent-contrast;
		r: 2.5;

		// &.selected {
		// 	r: 5;
		// 	fill: red;
		// }
	}

	.path {
		fill: transparent;
		stroke: rgba(#E6098A, .3);
		stroke-dasharray: 2, 2;
		stroke-width: 2;
		// opacity: 0;
	}
}

.runs-circle {
	stroke: rgba(0, 0, 0, .3);
	stroke-width: 1;
}

.runs-label {
	font-weight: 100;
	letter-spacing: to-rem(2.5);
	opacity: .8;
	text-transform: uppercase;
	@include type-size(8);
}

.miles-line, .miles-circle-bg {
	stroke-linecap: round;
	stroke-width: 8px;
	rx: 2.5;
	ry: 2.5;
}

/* MAIN STATS
----------------------------------------------- */
.stats, .stats_with-graph {
	padding-bottom: to-rem(130);
	padding-top: to-rem(110);
	position: relative;

	.inner {
		position: relative;

		@extend .container_after;

		@include breakpoint(grid-width, min) {
			margin-left: columns(1, 12);
		}
	}

	.value {
		p {
			color: #fff;
			display: inline-block;
			font-weight: 900;
			letter-spacing: to-rem(1.4);
			margin: 0 0 to-rem(10) 0;

			@include type-size(110, 100);

			span {
				display: inline-block;
				font-weight: 100;
				letter-spacing: to-rem(1.3);
				text-transform: uppercase;
				opacity: .3;
				text-align: center;

				@include type-size(13, .95, true);
			}

			@include breakpoint(tablet-portrait, min) {
				@include type-size(100, 1, true);
			}
		}
	}
}

// Title
.stats_with-graph_title {
	color: rgba(#ffffff, 1);
	font-weight: 100;
	letter-spacing: to-rem(1.2);
	margin-bottom: to-rem(30);
	text-transform: uppercase;

	@extend %antialias; // TODO: Only apply to HD screens
	@include type-size(25);

	&:after {
		background: rgba(#ffffff, .4);
		content: '';
		display: block;
		height: 1px;
		margin-top: to-rem(12);
		width: to-rem(15);
	}
}

.stats_with-graph {
	.container {
		position: relative;
	}

	.chart {
		display: inline-block;
		width: 100%;
	}

	.copy {
		// display: inline-block;
		float: left;
		margin-left: columns(1, 12);
		width: columns(6, 12);

		@extend %antialias;

		p {
			color: rgba(#ffffff, .5);
			letter-spacing: to-rem(0.6);
			margin: 0;

			@include type-size(14, 1.6, true);
		}

		@include breakpoint(phone-mid, max) {
			width: columns(12, 12);
		}

		@include breakpoint(phone-big, max) {
			margin-left: 0;
			margin-bottom: to-rem(80);
			width: columns(9, 12);
		}
	}


	@include breakpoint(desktop, min) {
		.copy {
			margin-left: 0;
			margin-right: columns(1, 11);
			width: columns(3, 11);
		}

		.chart {
			width: columns(7, 11);
		}
	}


	.value {
		display: inline-block;
		margin-bottom: to-rem(50);
		padding-bottom: to-rem(40);
		// padding-top: to-rem(10);
		position: relative;
		width: columns(3, 12);

		p {
			padding-top: to-rem(30);
			@include type-size(110);

			&.large_value {
				@include type-size(65);
			}

			// &:before {
			// 	background: rgba(#ffffff, .08);
			// 	content: '';
			// 	height: 1px;
			// 	position: absolute;
			// 	top: 0;
			// 	width: columns(3, 11);
			// }
		}

		&:before, &:after {
			background: rgba(#ffffff, .08);
			content: '';
			height: 1px;
			position: absolute;
			bottom: 0;
		}

		&:before {
			left: 0;
			width: columns(3, 12);
		}

		&:after {
			right: 0;
			width: columns(8, 12);
		}

		@include breakpoint(phone-big, max) {
			width: 100%;

			&:before {
				left: 0;
				width: columns(5, 12);
			}

			&:after {
				display: none;
			}
		}


		@include breakpoint(desktop, min) {
			width: 100%;


			&:before {
				width: columns(3, 11);
			}

			&:after {
				width: columns(7, 11);
			}

			p, p.large_value {
				@include type-size(90);
			}
		}

		@include breakpoint(desktop, max) {
			// width: columns(3, 12);
			margin: to-rem(10) 0 to-rem(70) 0;
		}
	}

}

.elevation-charts {
	display: inline-block;
}

.elevation_bar-chart {
	width: columns(7, 12);

	@include breakpoint(desktop, min) {
		width: columns(3.8, 11);
	}
}

.elevation_mnts-chart {
	margin-left: columns(1, 12);
	width: columns(4, 12);

	@include breakpoint(desktop, min) {
		margin-left: columns(1, 11);
		width: columns(2.2, 11);
	}
}

polyline.mountain {
	fill: none;
	stroke: $accent-color;

	&.big {
		fill: url(#linear-gradient);
	}

	&.cover {
		stroke: $bg-color;
		fill: $bg-color;
	}
}

.mountain_marker {
	stroke: $accent-contrast;
	stroke-dasharray: 3, 3;
	stroke-width: 1;
}

.mountain_marker-label {
	fill: rgba(#ffffff, .7);
	letter-spacing: to-rem(1.5);
	text-transform: uppercase;

	@include type-size(13);
}

.elevation_marker-label {
	fill: $accent-contrast;
	letter-spacing: to-rem(1.5);
	text-transform: uppercase;

	@include type-size(13);
}

// /* FEED
// ----------------------------------------------- */
// .feed-item {
// 	color: rgba(#ffffff, .9);
// 	float: left;
// 	font-weight: 300;
// 	width: 100%;
// 	transition: all .23s ease-in-out;

// 	&:hover {
// 		background: $bg-color;
// 		color: $accent-color;
// 		transform: scale(1.02);

// 		&:after {
// 			content: '';
// 			background: red;
// 			position: absolute;
// 			left: 0;
// 			height: auto;
// 			width: 100;
// 		}

// 		li {
// 			// border-color: transparent;

// 		}
// 	}

// 	li {
// 		border-bottom: 1px solid rgba(#ffffff, .2);
// 		float: left;
// 		letter-spacing: 0.075em;
// 		padding: 1.5rem 0;
// 		text-align: center;
// 		width: 25%;

// 		@include type-size(15);
// 		@extend %primary-mono;

// 	}
// }

/* SMALL STATS
----------------------------------------------- */
.small-stats {
	padding-bottom: to-rem(180);
	padding-top: to-rem(160);

	.value {
		@include columns-gutter(3, 5);

		&:last-child {
			margin-right: 0;
		}

		@include breakpoint(tablet-portrait, max) {
			margin-bottom: to-rem(80);
			@include columns-gutter(1, 0);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.value p {
		font-weight: 100;
		letter-spacing: .015rem;
		margin-bottom: to-rem(30);

		@include type-size(90);
		@extend %antialias;

		// @include breakpoint(phone-mid, max) {
		// 	@include type-size(110);
		// }

		@include breakpoint(tablet-portrait, min) {
			letter-spacing: -.005rem;

			@include type-size(70);
		}

		@include breakpoint(1100, min) {
			letter-spacing: -.125rem;

			@include type-size(90);
		}

		span {
			color: rgba(#ffffff, .5);
			display: inline-block;
			font-weight: 300;
			letter-spacing: to-rem(.28);
			margin-left: to-rem(2);
			text-transform: lowercase;

			@include type-size(21);
		}
	}

	.small-stats_chart {
		// float: right;

		// width: 100%;
	}
}

.small-stats_title {
	margin-bottom: to-rem(40);
	padding-bottom: to-rem(11);
	position: relative;

	@include type-size(16);
	@extend .stats_with-graph_title;

	&:after {
		background: rgba(255, 255, 255, .13);
		bottom: 0;
		content: '';
		height: 1px;
		left: 0;
		position: absolute;
		width: 100%;
	}
}

.small-stats_path {
	// stroke: #0984E6;
	stroke: $accent-color;
	stroke-width: 1;
	fill: transparent;
}

.small-stats_dot {
	// fill: #E6098A;
	fill: $accent-contrast;
	r: 3;
	stroke-width: 10;
	// stroke: rgba(117, 69, 230, .3);
	stroke: rgba($accent-contrast-b, .2);
}

.small-stats_bars {
	stroke-width: 1;
	stroke: rgba(#ffffff, .15);
}

/* ABOUT
----------------------------------------------- */
.about {
	background: #fff;
	padding-bottom: to-rem(140);
	padding-top: to-rem(110);

	h2 {
		font-weight: 100;
		letter-spacing: to-rem(.5);
		@include type-size(60);

		&:after {
			content: '—';
			clear: both;
			display: block;
		}
	}

	img {
		border-radius: 100%;
		max-width: 100%;
	}
}

.about_copy {
	color: rgba(#000000, .75);
	font-weight: 300;
	max-width: 52%;

	@include type-size(20, 1.65, true);

	@include breakpoint(tablet-portrait, max) {
		margin-bottom: to-rem(40);
		max-width: 100%;
	}

	a {
		color: $accent-contrast;

		&:hover {
			color: $accent-color;
		}
	}
}

/* FOOTER
----------------------------------------------- */
footer {
	padding-bottom: to-rem(30);
	padding-top: to-rem(30);
	text-align: center;

	p {
		color: rgba(#ffffff, .45);
		font-weight: 300;
		letter-spacing: .04em;
		@include type-size(13);
	}

	a {
		color: rgba(#ffffff, .8);

		&:hover {
			color: $accent-contrast;
		}
	}
}