// MODULES
@import "modules/_mixins";
@import "modules/_colors";
@import "modules/_layout";


/* FONTS
----------------------------------------------- */
%primary-sans {
    font-family: 'Roboto', helvetica, arial, sans-serif;
}

%antialias {
	-webkit-font-smoothing: antialiased;
}

/* TYPOGRAPHY
----------------------------------------------- */
body {
	background: $bg-color;
	@extend %primary-sans;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* INTRO
----------------------------------------------- */

.intro {
	// background: $bg-color url('/images/hero.jpg') no-repeat center;
	// background: $bg-color;
	background-size: cover;
	display: block;
	height: 100vh;
	position: relative;

	.inner {
		left: 0;
		position: absolute;
		top: 15%;
		max-width: 43%;
	}

	h1 {
		color: rgba(#ffffff, 1);
		font-weight: 100;
		letter-spacing: -.16rem;
		position: relative;
		@include type-size(105, 1.1, true);

		span {
			font-weight: 700;
			letter-spacing: -.03em;

			// color: desaturate($accent-contrast-b, 20%);
		// 	color: rgba(#ffffff, 1);
		// 	font-weight: 700;
		// 	letter-spacing: -.13em;
		// 	padding-left: to-rem(35);
		// 	position: absolute;
		// 	bottom: -7.5px; // Half of the diff between h1 and span typesizes

		// 	@include type-size(110, 1.1, true);

		// 	&:before {
		// 		content: '‘';
		// 		display: inline-block;
		// 		position: absolute;
		// 		left: to-rem(14);
		// 	}
		}
	}

	p {
		color: rgba(255,255,255,.6);
		font-weight: 100;
		letter-spacing: .065em;
		margin-left: 20%;
		width: 100%;

		@include type-size(16, 1.525, true);

	}
}

.intro__chart {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	.step, .line {
		fill: transparent;
		stroke: #fff;
		stroke-width: 2;
	}

	.line {
		stroke: darken($accent-color, 0%);
		opacity: .55;
		// stroke-dasharray: 1, 1;
	}

	.circle {
		// fill: #E6098A;
		// fill: $hero-accent;
		fill: $accent-contrast;
		r: 2.5;
		// stroke-width: 1;
		// stroke: rgba(117, 69, 230, .3);
		// stroke: rgba(#ffffff, .1);
		// stroke: lighten($hero-accent, 10%);

		&.selected {
			r: 5;
			fill: red;
		}
	}

	.path {
		// fill: transparent;
		// fill: rgba(#0984E6, .05);
		// fill: rgba(#E6098A, .08);
		// stroke: rgba(#0984E6, .35);
		// stroke: rgba(#E6098A, .3);
		// stroke-dasharray: 2, 2;
		// stroke-width: 1;
		opacity: 0;
	}
}

/* META
----------------------------------------------- */
// .meta {
//     // background: $bg-color-light;
//     display: inline-block;
//     // position: absolute;
//     width: 100%;
//     // height: 10vh;
//     // left: 0;
//     // bottom: 0%;

//     padding: to-rem(30) 0;

//     ul {
//     	display: inline-block;
// 	    width: 100%;
//     }

//     li {
//     	color: #fff;
//     	float: left;
//     	font-weight: 700;
//     	letter-spacing: -.15rem;
//     	text-align: center;
//     	width: 33.33%;

// 		@include type-size(70);
// 		@extend %primary-mono;

// 		&:last-child {
// 			// width: 100%;
// 		}
//     }

//     span {
//     	display: block;
//     	clear: both;
//     	font-weight: 400;
//     	letter-spacing: .12rem;
//     	text-transform: uppercase;
// 		@include type-size(13);	
//     }
// }


.runs-circle {
	stroke: rgba(0, 0, 0, .3);
	stroke-width: 1;
}

.runs-label {
	font-weight: 100;
	letter-spacing: to-rem(2.5);
	opacity: .76;
	text-transform: uppercase;
	@include type-size(7.5);
}

.miles-line, .miles-circle-bg {
	stroke-linecap: round;
	stroke-width: 8px;
	rx: 2.5;
	ry: 2.5;
}


/* RUN
----------------------------------------------- */
.stats, .stats_with-graph {
	padding-bottom: to-rem(120);
	padding-top: to-rem(100);
	position: relative;


	.value p {
		color: #fff;
		display: inline-block;
		font-weight: 100;
		letter-spacing: to-rem(-2);
		margin: 0;
		@include type-size(150);

		span {
			display: block;
			font-weight: 500;
			letter-spacing: to-rem(3.7);
			text-transform: uppercase;
			opacity: .4;
			text-align: center;
			@include type-size(12);
		}

		&.large_value {
			@include type-size(130);

		}
	}

	.inner {
		position: relative;
		@extend .container_after;
	}
}

.stats_with-graph {
	.container {
		position: relative;
	}

	.value {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		&.left {
			left: 0;
		}

		&.right {
			right: 0;
			text-align: right;
		}
	}
}

.stats_with-graph_title {
	color: rgba(#ffffff, .5);
	font-weight: 100;
	letter-spacing: 2.42px;
	margin-bottom: to-rem(70);
	text-transform: uppercase;

	@include type-size(15);

	&:after {
		background: rgba(#ffffff, .17);
		content: '';
		display: block;
		height: 2px;
		margin-top: to-rem(12);
		width: to-rem(12);
	}
}

/* FEED
----------------------------------------------- */
.feed-item {
	color: rgba(#ffffff, .9);
	float: left;
	font-weight: 300;
	width: 100%;
	transition: all .23s ease-in-out;

	&:hover {
		background: $bg-color;
		color: $accent-color;
		transform: scale(1.02);

		&:after {
			content: '';
			background: red;
			position: absolute;
			left: 0;
			height: auto;
			width: 100;
		}

		li {
			// border-color: transparent;

		}
	}

	li {
		border-bottom: 1px solid rgba(#ffffff, .2);
		float: left;
		letter-spacing: 0.075em;
		padding: 1.5rem 0;
		text-align: center;
		width: 25%;

		@include type-size(15);
		@extend %primary-mono;

	}
}

/* SMALL STATS
----------------------------------------------- */
.small-stats {
	.value {
		@include columns-gutter(3, 5);

		&:last-child {
			margin-right: 0;
		}

		@include breakpoint(tablet-portrait, max) {
			@include columns-gutter(1, 0);
		}
	}

	.value p {
		letter-spacing: .075rem;
		margin-bottom: to-rem(30);

		@include type-size(105);

		@include breakpoint(tablet-portrait, min) {
			letter-spacing: .005rem;

			@include type-size(70);
		}

		@include breakpoint(1100, min) {
			letter-spacing: .075rem;

			@include type-size(105);
		}

		span {
			color: rgba(#ffffff, .5);
			display: inline-block;
			font-weight: 300;
			letter-spacing: to-rem(.28);
			margin-left: to-rem(2);
			text-transform: lowercase;

			@include type-size(21);
		}
	}
}

.small-stats_title {
	margin-bottom: to-rem(50);
	padding-bottom: to-rem(12);
	position: relative;

	@include type-size(16);
	@extend .stats_with-graph_title;

	&:after {
		background: rgba(255, 255, 255, .13);
		bottom: 0;
		content: '';
		height: 1px;
		left: 0;
		position: absolute;
		width: 100%;
	}
}

.small-stats_path {
	// stroke: #0984E6;
	stroke: $accent-color;
	stroke-width: 1;
	fill: transparent;
}

.small-stats_dot {
	// fill: #E6098A;
	fill: $accent-contrast;
	r: 3;
	stroke-width: 10;
	// stroke: rgba(117, 69, 230, .3);
	stroke: rgba($accent-contrast-b, .2);
}

.small-stats_bars {
	stroke-width: 1;
	stroke: rgba(#ffffff, .15);
}

/* ABOUT
----------------------------------------------- */
.about {
	background: #fff;
	padding-bottom: to-rem(140);
	padding-top: to-rem(110);

	h2 {
		font-weight: 100;
		letter-spacing: to-rem(.5);
		@include type-size(60);

		&:after {
			content: '—';
			clear: both;
			display: block;
		}
	}

	img {
		border-radius: 100%;
		max-width: 100%;
	}
}

.about_copy {
	font-weight: 300;
	max-width: 52%;

	@include type-size(18, 27.2);
}

/* FOOTER
----------------------------------------------- */
footer {
	// background: #fff;
	// border-top: 1px solid rgba(#ffffff, .9);
	padding-bottom: to-rem(30);
	padding-top: to-rem(30);
	text-align: center;

	p {
		color: rgba(#ffffff, .45);
		font-weight: 300;
		letter-spacing: .04em;
		@include type-size(13);
	}

	a {
		color: rgba(#ffffff, .8);
		text-decoration: none;

		&:hover {
			color: $accent-contrast;
		}
	}
}