/* COLORS
----------------------------------------------- */
// $bg-color:				#0C0329;
$bg-color:				#110539;

// $bg-color-dark:			#090220;
$bg-color-dark:			#0E0330;
$bg-color-light:		#061129;

$accent-color: 			#0984E6;
$accent-contrast:		#EB176F;
$accent-contrast-b:		#B617EB;

$light-title:			#9e9fa8;

.dark {
	background: $bg-color-dark;
}