/* COLORS
----------------------------------------------- */
// $bg-color:			#020722;
// $bg-color:				#10042E;
$bg-color:				#0C0329;
// $bg-color-dark:		#01051c;
// $bg-color-dark:			#0b021d;
$bg-color-dark:			#090220;
$bg-color-light:		#061129;

// $accent-color: 		#2BDCF0;
// $accent-contrast:	#F0492B;

$accent-color: 			#0984E6;
$accent-contrast:		#EB176F;
$accent-contrast-b:		#B617EB;

$light-title:			#9e9fa8;

.dark {
	background: $bg-color-dark;
}