// MIXINS

@mixin type-size($sizeValue: 16, $lineHeight: $sizeValue, $relative: false) {
  font-size: ($sizeValue / 16) + rem;

  @if $relative == false {
	  line-height: ($lineHeight / 16) + rem;  	
  } @else {
	  line-height: ($sizeValue / 16 * $lineHeight) + rem;  	
  }
}

@mixin to-rem($property, $val) {
  #{$property}: ($val / 16) + rem;
}

// FUNCTIONS
@function to-rem($val) {
  @return ($val / 16) + rem;
}