// MIXINS

@mixin type-size($sizeValue: 16, $lineHeight: $sizeValue, $relative: false) {
  font-size: ($sizeValue / 16) + rem;

  @if $relative == false {
	  line-height: ($lineHeight / 16) + rem;
  } @else {
	  line-height: ($sizeValue / 16 * $lineHeight) + rem;
  }
}

@mixin to-rem($property, $val) {
  #{$property}: ($val / 16) + rem;
}

@mixin columns-gutter($columns, $gutter) {
  $st_gutter: $gutter;
  $st_width: (100 - ($st_gutter * ($columns - 1)))/$columns;

  margin-right: $st_gutter+%;
  width: $st_width+%;
}

@mixin columns($columns, $totalCols, $float: left) {
  float: $float;
  width: ($grid-width / $totalCols * 100) / $grid-width * $columns + %;
}

// FUNCTIONS
@function to-rem($val) {
  @return ($val / 16) + rem;
}

@function columns($columns, $totalCols) {
  @return ($grid-width / $totalCols * 100) / $grid-width * $columns + %;
}

// MEDIA QUERIES
@mixin breakpoint($point, $minMax) {
  @if $point == 1200 {
    @media only screen and (#{$minMax}-width: 1200px) { @content; }
  }
  @else if $point == grid-width {
    @media only screen and (#{$minMax}-width: 1140px) { @content; }
  }
  @else if $point == 1040 {
    @media only screen and (#{$minMax}-width: 1040px) { @content; }
  }
  @else if $point == desktop {
    @media only screen and (#{$minMax}-width: 960px) { @content; }
  }
  @else if $point == tablet-portrait {
    @media only screen and (#{$minMax}-width: 870px) { @content; }
  }
  @else if $point == phone-big {
    @media only screen and (#{$minMax}-width: 767px)  { @content; }
  }
  @else if $point == phone-mid {
    @media only screen and (#{$minMax}-width: 620px)  { @content; }
  }
  @else if $point == phone-mid-small {
    @media only screen and (#{$minMax}-width: 540px)  { @content; }
  }
  @else {
    @media only screen and (#{$minMax}-width: #{$point}px) { @content; }
  }
}